*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    padding: 10px;
}

ul li{
    padding-inline: 20px;
}

ul li .nav-link{
    font-family: 'Oswald', sans-serif;
    color: rgb(0, 157, 57);
    font-size: 2.1rem;
}

.navbar .navbar-nav .nav-link:hover{
    color: rgb(254, 210, 0);
    transition:0.3s;
    scale: 1.2;
}

@media screen and (max-width:991px){
    .navbar{
        padding: 5px;
    }

    ul li{
        padding-inline: 10px;
    }
    
    ul li .nav-link{
        font-family: 'Oswald', sans-serif;
        color: rgb(0, 157, 57);
        font-size: 1rem;
        display: inline-block;
        padding: 10px;
    }
    
    .navbar .navbar-nav .nav-link:hover{
        color: rgb(254, 210, 0);
        transition:0.3s;
        scale: 1.2;
    }
}

h1,h2,h3,h4,h5{
    color: rgb(254, 210, 0);
}

h1,h3{
    font-family: 'Michroma', sans-serif;
}
h2,h4,h5{
    font-family: 'Oswald', sans-serif;
}

.titulosBeco{
    font-weight: bold;
    font-style:italic;
    text-align: center;
}

.textosBeco{
    line-height: 1.5em;
    text-align: justify;
    padding: 0.8em;
}

footer{
    height: 130px;
}

.redes{
    padding: 15px;
}




